<form method="POST">
  <div class="input-row">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" />
  </div>

  <div class="input-row">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" />
  </div>

  <div class="input-row">
    <label for="releaseDate">Realease date:</label>
    <input type="date" name="releaseDate" id="releaseDate" />
  </div>

  <div class="input-row">
    <label for="imageUrl">Image URL:</label>
    <input type="url" name="imageUrl" id="imageUrl" />
  </div>

  <input type="submit" />
</form>