body { padding: 0; margin: 0; }

.menu ul { list-style-type: none; background: dodgerblue; padding: 0; margin: 0; text-align: center; }
.menu ul li { display: inline-block; padding: 10px 10px; }
.menu ul li a { text-decoration: none; color: #000; }
.menu ul li a:hover { color: #fff; }

.container { text-align: center; padding: 50px 20px; }
.input-row:not(:last-child) { margin-bottom: 20px; }
.error { color: red; margin-bottom: 20px; }

.footer { background: dodgerblue; padding: 20px 0; text-align: center; }